<ul class="workspace-pager">
  <li class="workspace-pager__page"
      [class.workspace-pager__page_active]="activePageIndex === i"
      *ngFor="let page of getPages(); let i = index"
      (click)="goToPage(i)">
    {{page.name}}
    <button class="workspace-pager__page__remove"
            title="Remove page"
            *ngIf="getPages().length > 1"
            (click)="removePage(page.id)">&#x274c;</button>
  </li>
  <li class="workspace-pager__add-new">
    <button (click)="addPage()">+ Add page</button>
  </li>
</ul>
<section class="workspace-editor">
  <div class="workspace-editor__visual"></div>
  <div class="workspace-editor__service"></div>
</section>
<footer class="workspace-toolbar">
</footer>
