<section class="frunze-project-edit-view-content">
  <h1>Configure your new Project</h1>
  <form [formGroup]="projectEditor" novalidate>
    <section class="frunze-form-field">
      <label>
        <span class="frunze-form-label">Name</span>
        <input formControlName="name" class="frunze-form-control frunze-form-input">
      </label>
    </section>
    <section class="frunze-form-field">
      <span class="frunze-form-label">Capabilities</span>
      <ul class="frunze-form-checkbox-group-container" formArrayName="capabilities">
        <li *ngFor="let group of availableCapabilityGroups; let i=index" [formArrayName]="i"
            class="frunze-form-checkbox-group">
          <span class="frunze-form-checkbox-group-header hint--bottom hint--info" [attr.data-hint]="group.hint">
            {{group.name}}
          </span>
          <label class="frunze-form-checkbox-item" *ngFor="let capability of group.capabilities; let j=index;">
            <input class="frunze-form-checkbox" type="checkbox" [formControlName]="j" />
            <span class="hint--bottom hint--info" [attr.data-hint]="capability.hint">{{capability.name}}</span>
          </label>
        </li>
      </ul>
    </section>
  </form>
  <p>Form value: {{ projectEditor.value | json }}</p>
  <p>Form status: {{ projectEditor.status | json }}</p>
</section>
