<article class="frunze-project-edit-view">
  <nav class="frunze-projects-nav">
    <a href="/promo" class="frunze-projects-nav-link frunze-projects-nav-logo">&#966;</a>
    <a href="/promo/projects" class="frunze-projects-nav-link frunze-projects-nav-link--active">Projects</a>
    <a href="/promo/updates" class="frunze-projects-nav-link">Updates</a>
    <a href="/promo/help" class="frunze-projects-nav-link">Help</a>
  </nav>

  <section class="frunze-project-edit-content">
    Edit Project.
  </section>
</article>
