<section class="frunze-project-edit-view-content">
  <form [formGroup]="projectEditor" novalidate>
    <section class="frunze-form-field">
      <label>
        <span class="frunze-form-label">Name</span>
        <input formControlName="name" class="frunze-form-control frunze-form-input">
      </label>
    </section>
    <section class="frunze-form-field">
      <label>
        <span class="frunze-form-label">Category</span>
        <select formControlName="category" class="frunze-form-control frunze-form-select">
          <option *ngFor="let category of projectCategories" [value]="category">{{getCategoryLabel(category)}}</option>
        </select>
      </label>
    </section>
  </form>
  <p>Form value: {{ projectEditor.value | json }}</p>
  <p>Form status: {{ projectEditor.status | json }}</p>
</section>
