<label class="frunze-property-editor" [title]="property?.schema.description">
  <span class="frunze-property-editor__label">{{property?.schema.name}}</span>
  <input *ngIf="property && isStringValue()" class="frunze-property-editor__editor"
         [formControl]="valueEditor" />
  <select *ngIf="property && isOptionsValue()" class="frunze-property-editor__editor"
          [formControl]="valueEditor">
    <option *ngFor="let option of property.schema.options" [value]="option.type">
      {{option.name}}
    </option>
  </select>
</label>
