<label class="frunze-property-editor" [title]="schema?.description">
  <span class="frunze-property-editor__label">{{schema?.name}}</span>
  <input *ngIf="isCustomValue()" class="frunze-property-editor__editor" [formControl]="valueEditor" />
  <select *ngIf="isPredefinedValue()" class="frunze-property-editor__editor" [formControl]="valueEditor">
    <option *ngIf="schema?.defaultValue === ''" [value]="schema.defaultValue">None</option>
    <option *ngFor="let option of getPredefinedValues()" [value]="option.type">
      {{option.name}}
    </option>
  </select>
  <select *ngIf="isComponentValue()" class="frunze-property-editor__editor" [formControl]="valueEditor">
    <option *ngIf="schema?.defaultValue === ''" [value]="schema.defaultValue">None</option>
    <option *ngFor="let option1 of getComponents()" [value]="option1.id">
      {{option1.name}}
    </option>
  </select>
</label>
