.frunze-trigger-actions-list {
  padding: 0;
}

.frunze-trigger-actions-list__item {
  position: relative;
  margin: 0.5rem 0;

  list-style: none;
}

.frunze-trigger-actions-list__item-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;

  border: none;
  background: url("../../../../../assets/images/icons/remove.svg") no-repeat center center;
  cursor: pointer;
}

.frunze-trigger-actions-list__component-selector {
  margin-top: 0.5rem;
}
