<section>
  <ul *ngIf="triggerActions.length > 0" class="frunze-trigger-actions-list">
    <li class="frunze-trigger-actions-list__item" *ngFor="let triggerAction of triggerActions; let i = index">
      <b>{{getTriggerActionName(triggerAction)}}</b> on <b>{{getTriggerComponentName(triggerAction)}}</b>
      <button class="frunze-trigger-actions-list__item-remove" (click)="removeAction(i)"></button>
    </li>
  </ul>
  <select class="frunze-trigger-actions-list__component-selector" title="Choose component..." [formControl]="componentEditor">
    <option value="">New action on...</option>
    <option *ngFor="let component of componentsWithActions" [value]="component.id">
      {{getComponentName(component)}}
    </option>
  </select>
  <select *ngIf="componentEditor.value" title="Choose action..." [formControl]="actionEditor">
    <option value="">Choose action...</option>
    <option *ngFor="let action of getActions()" [value]="action.type">
      {{action.name}}
    </option>
  </select>
</section>
