@font-face {
  font-family: 'Frunze Icons';
  src: url('../assets/fonts/frunze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Hair'),
  url('../assets/fonts/FiraSans-Hair.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Hair Italic'),
  url('../assets/fonts/FiraSans-HairItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans UltraLight'),
  url('../assets/fonts/FiraSans-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans UltraLight Italic'),
  url('../assets/fonts/FiraSans-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'),
  url('../assets/fonts/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'),
  url('../assets/fonts/FiraSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular'),
  url('../assets/fonts/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular Italic'),
  url('../assets/fonts/FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'),
  url('../assets/fonts/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'),
  url('../assets/fonts/FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans SemiBold'),
  url('../assets/fonts/FiraSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans SemiBold Italic'),
  url('../assets/fonts/FiraSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold'),
  url('../assets/fonts/FiraSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold Italic'),
  url('../assets/fonts/FiraSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraBold'),
  url('../assets/fonts/FiraSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraBold Italic'),
  url('../assets/fonts/FiraSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Heavy'),
  url('../assets/fonts/FiraSans-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Sans';
  src: local('Fira Sans Heavy Italic'),
  url('../assets/fonts/FiraSans-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face{
  font-family: 'Fira Mono';
  src: local('Fira Mono'),
  url('../assets/fonts/FiraMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Mono';
  src: local('Fira Mono Bold'),
  url('../assets/fonts/FiraMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
