.frunze-form-field {
  margin: 1.5rem 0;
}

.frunze-form-label {
  display: inline-block;
  margin-bottom: 0.5rem;

  font-weight: 400;
}

.frunze-form-control {
  display: block;
  box-sizing: border-box;
  width: 300px;
  padding: 0.5rem 0.75rem;

  border: 1px solid rgba(0,0,0,.15);
  background-clip: padding-box;
  border-radius: .25rem;

  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background: #fff none;

  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.frunze-form-input {}

.frunze-form-select {}

.frunze-form-control:focus {
  border-color: #5cb3fd;
  outline: none;
}

.frunze-form-button-link {
  margin: 0.5rem 0;
  padding: 0;

  background: none;
  border: none;

  color: #104FCF;
  cursor: pointer;
  font-family: "Fira Sans", "Open Sans", sans-serif;
  font-weight: 300;
}

.frunze-form-button-link ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.frunze-form-checkbox-group-container {
  display: flex;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}

.frunze-form-checkbox-group-header {
  display: inline-block;
  margin: 0.5rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(0,0,0,.25);

  font-style: italic;
}

.frunze-form-checkbox-group {
  display: inline;
  margin-right: 3rem;
}

.frunze-form-checkbox-item {
  display: block;
}

.frunze-form-checkbox {
  margin: 0;
}

.frunze-button {
  padding: 0.7rem;

  border: none;

  color: #fff;
  background-color: #286090;
  font-size: 120%;
}