.frunze-form-field {
  margin: 1.5rem 0;
}

.frunze-form-label {
  display: inline-block;
  margin-bottom: 0.5rem;

  font-weight: 400;
}

.frunze-form-control {
  display: block;
  box-sizing: border-box;
  width: 300px;
  padding: 0.5rem 0.75rem;

  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  border-radius: 0.25rem;

  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background: #fff none;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.frunze-form-input {
}

.frunze-form-select {
}

.frunze-form-control:focus {
  border-color: #5cb3fd;
  outline: none;
}

.frunze-form-button-link {
  margin: 0.5rem 0;
  padding: 0;

  background: none;
  border: none;

  color: #104fcf;
  cursor: pointer;
  font-family: 'Fira Sans', 'Open Sans', sans-serif;
  font-weight: 300;
}

.frunze-form-button-link ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.frunze-form-checkbox-group-container,
.frunze-form-radio-group-container {
  display: flex;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

.capabilities-container {
  flex-direction: column;
}

.frunze-form-checkbox-group-header,
.frunze-form-radio-group-header {
  display: inline-block;
  margin: 0.5rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  font-style: italic;
}

.frunze-form-checkbox-group-content {
  display: flex;
  justify-content: space-between;
}

.frunze-form-checkbox-group,
.frunze-form-radio-group {
  display: inline;
}

.frunze-form-checkbox-group--disabled,
.frunze-form-radio-group--disabled {
  opacity: 0.3;
}

.frunze-form-checkbox-item,
.frunze-form-radio-item {
  display: flex;
  width: 11rem;
  height: 9rem;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.5rem;

  background-color: #fff;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.frunze-form-checkbox-item--active,
.frunze-form-radio-item--active {
  box-shadow: 0 -1px 1px 0 rgb(65, 156, 206), 0 1px 5px 4px rgb(67, 160, 211);
}

.frunze-form-checkbox-item-picture,
.frunze-form-radio-item-picture {
  margin-bottom: 0.5rem;
  padding: 3rem;
}

.frunze-form-checkbox-item-title,
.frunze-form-radio-item-title {
  text-align: center;
}

.frunze-form-checkbox,
.frunze-form-radio {
  display: none;
}

.frunze-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;

  border: none;
  border-radius: 0.2rem;

  background-color: #fff;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 100%;
}

.frunze-button:disabled {
  opacity: 0.5;
}
