<section class="frunze-project-metadata-view-content">
  <h1>Configure your new Project</h1>
  <form [formGroup]="projectEditor" novalidate>
    <section class="frunze-form-field">
      <label>
        <span class="frunze-form-label">Name</span>
        <input formControlName="name" class="frunze-form-control frunze-form-input">
      </label>
    </section>
    <section class="frunze-form-field">
      <label>
        <span class="frunze-form-label">Description</span>
        <input formControlName="description" class="frunze-form-control frunze-form-input">
      </label>
    </section>
    <section class="frunze-form-field">
      <span class="frunze-form-label">Capabilities</span>
      <ul class="frunze-form-checkbox-group-container" formArrayName="capabilities">
        <li *ngFor="let group of capabilityGroups; let i=index" [formArrayName]="i"
            class="frunze-form-checkbox-group">
          <span class="frunze-form-checkbox-group-header hint--bottom hint--info hint--small" [attr.data-hint]="group.description">
            {{group.name}}
          </span>
          <label class="frunze-form-checkbox-item hint--bottom hint--info hint--medium"
                 *ngFor="let capability of group.capabilities; let j=index;"
                 [class.frunze-form-checkbox-item--active]="isCapabilitySelected(i, j)"
                 [attr.data-hint]="capability.description">
            <img class="frunze-form-checkbox-item-picture project-entity-icon project-entity-icon-capability-{{capability.type}}" />
            <input class="frunze-form-checkbox" type="checkbox" [formControlName]="j"/>
            <span class="frunze-form-checkbox-item-title">{{capability.name}}</span>
          </label>
        </li>
      </ul>
    </section>
    <section class="frunze-form-field">
      <span class="frunze-form-label">Platforms</span>
      <ul class="frunze-form-radio-group-container">
        <li *ngFor="let platform of platforms" class="frunze-form-radio-group"
            [class.frunze-form-radio-group--disabled]="notSupportedPlatforms.has(platform.type)">
          <label class="frunze-form-radio-item hint--bottom hint--info hint--medium"
                 [class.frunze-form-radio-item--active]="isPlatformSelected(platform.type)"
                 [attr.data-hint]="platform.description">
            <img class="frunze-form-radio-item-picture project-entity-icon project-entity-icon-platform-{{platform.type}}" />
            <input class="frunze-form-radio" type="radio" [formControlName]="'platform'"
                   [value]="platform.type"
                   [attr.disabled]="notSupportedPlatforms.has(platform.type) ? '' : null"/>
            <span class="frunze-form-radio-item-title">{{platform.name}}</span>
          </label>
        </li>
      </ul>
    </section>
    <button type="button" class="frunze-button"
            [attr.disabled]="projectEditor.status !== 'VALID' ? '' : null"
            (click)="onNext()">Next</button>
  </form>
</section>
