.frunze-projects-view-content {
  height: 100%;
}

/** Empty content **/
.frunze-projects-view-content--empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frunze-projects-view-empty {
  font-size: 150%;
  text-align: center;
}

.frunze-projects-view-empty-sign {
  width: 10rem;
}

.frunze-projects-view-create {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;

  border: 0.1rem solid;
  border-radius: 1rem;

  color: #1f2532;
  font-size: 60%;
  text-decoration: none;
}