<article class="frunze-projects-view">
  <nav class="frunze-projects-nav">
    <a href="/promo" class="frunze-projects-nav-link frunze-projects-nav-logo">&#966;</a>
    <a href="/promo/projects" class="frunze-projects-nav-link frunze-projects-nav-link--active">Projects</a>
    <a href="/promo/updates" class="frunze-projects-nav-link">Updates</a>
    <a href="/promo/help" class="frunze-projects-nav-link">Help</a>
  </nav>
  <section class="frunze-projects-content frunze-projects-content--empty">
    <div class="frunze-projects-empty">
      <img class="frunze-projects-empty-sign" src="assets/images/pcb.svg" />
      <button class="frunze-projects-empty-create frunze-button-link" type="button">Create a new project</button>
    </div>
  </section>
</article>
