<section class="frunze-projects-view-content frunze-projects-view-content--empty">
  <div class="frunze-projects-view-empty" *ngIf="projects.length === 0">
    <img class="frunze-projects-view-empty-sign" src="assets/images/pcb.svg" />
    <a class="frunze-projects-view-create" routerLink="/promo/project/metadata/new">Create a new project</a>
  </div>
  <div *ngIf="projects.length > 0">
    <ul>
      <li *ngFor="let project of projects;let i=index">
        {{project.name}}
        <button type="button" (click)="deleteProject(project, i)">Delete</button>
      </li>
    </ul>
  </div>
</section>
