<article class="frunze-bom-calculation-view-content">
  <h1>Bill of Materials</h1>
  <table *ngIf="bom.items.length > 0" class="frunze-table">
    <thead>
    <tr class="frunze-table-header-row">
      <th>#</th>
      <th>Component</th>
      <th>Link</th>
      <th>Count</th>
      <th>Unit price</th>
      <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of bom.items; let i = index" class="frunze-table-data-row">
      <th>{{i + 1}}</th>
      <td [title]="item.schema.description">{{item.schema.name}}</td>
      <td>
        <a *ngIf="item.url" [href]="item.url" target="_blank">{{item.url}}</a>
        <span *ngIf="!item.url">n/a</span>
      </td>
      <td>{{item.count}}</td>
      <td class="frunze-bom-price">{{item.price + ' $' || 'n/a'}}</td>
      <td class="frunze-bom-price">{{item.price ? (item.count * item.price) + ' $' : 'n/a'}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="frunze-table-footer-row">
      <td colspan="5"><b>Total:</b></td>
      <td class="frunze-bom-price"><b>{{bom.totalPrice}} $</b></td>
    </tr>
    </tfoot>
  </table>
  <div>
    <button type="button" class="frunze-button" (click)="onGoToProjectSoftware()">To Metadata</button>
    <button type="button" class="frunze-button" (click)="onNext()">Next</button>
  </div>
</article>
