<section>
  <section class="expandable-group"
           *ngIf="!!groups.properties.items.length"
           [attr.aria-expanded]="groups.properties.expanded">
    <header class="expandable-group__header"
            (click)="groups.properties.expanded = !groups.properties.expanded">
      {{ groups.properties.name }}
    </header>
    <ul class="expandable-group__list">
      <li class="expandable-group__item" *ngFor="let property of groups.properties.items">
        <div>{{property.name}}</div>
      </li>
    </ul>
  </section>

  <section class="expandable-group"
           *ngIf="!!groups.events.items.length"
           [attr.aria-expanded]="groups.events.expanded">
    <header class="expandable-group__header"
            (click)="groups.events.expanded = !groups.events.expanded">
      {{ groups.events.name }}
    </header>
    <ul class="expandable-group__list">
      <li class="expandable-group__item" *ngFor="let property of groups.events.items">
        <div>{{property.name}}</div>
      </li>
    </ul>
  </section>

  <button class="frunze-properties__remove-component" *ngIf="!!component"
          (click)="removeComponent()">
    Remove component
  </button>
  <div class="frunze-properties_empty" *ngIf="!component">
    (Select component...)
  </div>
</section>
