.frunze-software-editor-view-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.frunze-software-editor {
  display: flex;
  height: 100%;

  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.2);
}

.frunze-software-editor__components,
.frunze-software-editor__workspace,
.frunze-software-editor__properties {
  overflow-y: auto;

  background-color: #fff;
}

.frunze-software-editor__components,
.frunze-software-editor__properties {
  flex: 1;
}

.frunze-software-editor__workspace {
  flex: 3;

  border-left: none;
  border-right: none;
}

.frunze-workspace-editor {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
  border-left: 0.1rem dashed #ddd;
  border-right: 0.1rem dashed #ddd;
  padding: 0.5rem;
}

.frunze-workspace-editor--drop-target {
  opacity: 0.5;
}

.frunze-software-component {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 3rem;
  min-height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;

  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.2);
  background-color: #eee;
}
