<article class="frunze-software-editor-view-content">
  <h1>Configure Software</h1>
  <section class="frunze-software-editor">
    <section class="frunze-software-editor__components">
      <frunze-expandable-groups [groups]="componentGroups">
      </frunze-expandable-groups>
    </section>
    <section class="frunze-software-editor__workspace">
      <section class="frunze-workspace-editor"
               [class.frunze-workspace-editor--drop-target]="dragEnterCounter > 0"
               (dragover)="onDragOver($event)"
               (dragenter)="onDragEnter($event)"
               (dragleave)="onDragLeave($event)"
               (drop)="onDrop($event)">
      </section>
    </section>
    <section class="frunze-software-editor__properties">
      <frunze-properties></frunze-properties>
    </section>
  </section>
</article>
