<article class="frunze-software-editor-view-content">
  <h1>Configure Software</h1>
  <section class="frunze-software-editor">
    <section class="frunze-software-editor__components">
      <frunze-expandable-groups [groups]="controlGroups">
      </frunze-expandable-groups>
    </section>
    <section class="frunze-software-editor__workspace">
      <frunze-workspace></frunze-workspace>
    </section>
    <section class="frunze-software-editor__properties">
      <frunze-properties></frunze-properties>
    </section>
  </section>
</article>
