.frunze-software-editor-view-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.frunze-software-editor {
  display: flex;
  height: 100%;
}

.frunze-software-editor__components,
.frunze-software-editor__workspace,
.frunze-software-editor__properties {
  overflow-y: auto;

  border: 1px solid #ddd;
}

.frunze-software-editor__components,
.frunze-software-editor__properties {
  flex: 1;
}

.frunze-software-editor__workspace {
  flex: 3;

  border-left: none;
  border-right: none;
}

.frunze-workspace-editor {
  height: 100%;
  box-sizing: border-box;
  border: 0.1rem dashed #ddd;

  background-color: #eee;
  padding: 0.5rem;
}

.frunze-workspace-editor:-moz-drag-over {
  border-color: #333333;
}
