<article class="frunze-software-editor-view-content">
  <h1>Configure Software</h1>
  <section class="frunze-software-editor">
    <section class="frunze-software-editor__components">
      <frunze-expandable-groups [groups]="componentGroups">
        <ng-template let-item>
          <div draggable="true" (dragstart)="onDragStart($event, item)">{{ item.name }}</div>
        </ng-template>
      </frunze-expandable-groups>
    </section>
    <section class="frunze-software-editor__workspace">
      <section class="frunze-workspace-editor"
               [class.frunze-workspace-editor--drop-target]="dragEnterCounter > 0"
               (dragover)="onDragOver($event)"
               (dragenter)="onDragEnter($event)"
               (dragleave)="onDragLeave($event)"
               (drop)="onDrop($event)"
               (click)="setActiveComponent(null)">
        <div class="frunze-software-component frunze-software-component-{{component.type}}"
             [class.frunze-software-component--active]="activeComponent === component"
             *ngFor="let component of project?.components; let i = index"
             (click)="setActiveComponent(component);$event.stopPropagation()">
          {{getComponentName(component)}}
          <button class="frunze-software-component__remove" (click)="removeComponent(i)">❌</button>
        </div>
      </section>
    </section>
    <section class="frunze-software-editor__properties">
      <div class="frunze-software-editor__properties-empty" *ngIf="!activeComponent">
        <img src="assets/images/select-component.png" />
        <p class="frunze-software-editor__empty-title">Select & Change</p>
        <div class="frunze-software-editor__empty-sub-title">component properties</div>
      </div>
      <frunze-expandable-groups *ngIf="activeComponent && propertiesGroup.items.length > 0"
                                [groups]="[propertiesGroup]">
        <ng-template let-item>
          <frunze-property-editor [component]="activeComponent" [schema]="item"></frunze-property-editor>
        </ng-template>
      </frunze-expandable-groups>
      <frunze-expandable-groups *ngIf="activeComponent && triggersGroup.items.length > 0"
                                [groups]="[triggersGroup]">
        <ng-template let-item>
          <frunze-trigger-editor [project]="project" [component]="activeComponent"
                                 [type]="item"></frunze-trigger-editor>
        </ng-template>
      </frunze-expandable-groups>
    </section>
  </section>
  <div>
    <button type="button" class="frunze-button" (click)="onGoToProjectMetadata()">To Metadata</button>
    <button type="button" class="frunze-button" (click)="onNext()">Next</button>
  </div>
</article>
